<div id="carouselExample" class="carousel slide bg-light" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-flex align-items-center justify-content-center text-start container flex-column flex-md-row">
        <section class="order-2 order-md-1 py-5 flex-fill">
          <div>
            <h6>Melhores ofertas personalizadas</h6>
            <h1 class="fw-bolder text-break">Queima de estoque Nike <span class="text-danger">🔥</span></h1>
            <p class="text-break lh-base">Consequat culpa exercitation mollit nisi excepteur do do tempor laboris eiusmod irure consectetur.</p>
            <a href="#" class="btn btn-danger">Ver Ofertas</a>
          </div>
        </section>
        <section class="order-1 order-md-2 flex-fill">
          <img src="/assets/img/White-Sneakers-PNG-Clipart 1.svg" alt="Tênis Nike" class="img-fluid">
        </section>
      </div>
    </div>
    <!-- Você pode adicionar mais items aqui se necessário -->
  </div>
</div>
