<div id="carouselExample" class="carousel slide bg-light" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-flex align-items-center justify-content-center text-start container flex-column flex-md-row">
        <section class="order-2 order-md-1 py-5 flex-fill">
          <div>
            <a href="#" class="btn text-light" style="background-color: #A63B21;">Ver Ofertas</a>
          </div>
        </section>
        <section class="order-1 order-md-2 flex-fill">
          <img src="/assets/img/White-Sneakers-PNG-Clipart 1.svg"  class="img-fluid">
        </section>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-flex align-items-center justify-content-center text-start text-md-center container flex-column flex-md-row">
        <section class="order-2 order-md-1 py-5 flex-fill">
          <div>
            <a href="#" class="btn text-light" style="background-color: #A63B21;">Ver Ofertas</a>
          </div>
        </section>
        <section class="order-1 order-md-2 flex-fill">
          <img src="/assets/img/White-Sneakers-PNG-Clipart 1.svg"  class="img-fluid">
        </section>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
