<header class="border-bottom py-3 " style="background-color: #D65A1F; ">
  <div class="container d-flex justify-content-between align-items-center">
    <h1 class="h3 text-light"><img src="/assets/img/logo-header (1).svg" alt="Logo"></h1>
    <input type="search" class="text-light form-control w-50 p-3" placeholder="Pesquisar produto..."><img src="Search.svg" alt="Search">
    <div>
      <a href="#" class="text-light btn me-3 " style="background-color: #4C774C;">Cadastre-se</a>
      <a href="#" class="btn" style="background-color: #f7c784;">Entrar</a>
      <a href="#" class="text-light position-relative text-decoration-none">
        <i class><img src="/assets/img/mini-cart.svg" alt="Carrinho"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">2</span>
      </a>
    </div>
  </div>
  <div class="container d-flex justify-content-between align-items-center mt-5">
    <div class="d-flex gap-3">
      <a href="#" class=" me-3 text-decoration-none" style="color: #7B2E1F; ">Cadastre-se</a>
      <a href="#" class=" me-3 text-decoration-none" style="color: #7B2E1F; ">Produtos</a>
      <a href="#" class=" me-3 text-decoration-none" style="color: #7B2E1F; ">Categorias</a>
      <a href="#" class=" me-3 text-decoration-none" style="color: #7B2E1F; ">Meus Pedidos</a>
    </>
  </div>
</header>
