<header class="border-bottom py-3">
  <div class="container d-flex justify-content-between align-items-center">
    <h1 class="h3"><img src="/assets/img/logo-header (1).svg" alt="Logo"></h1>
    <input type="search" class="form-control w-50 p-3" placeholder="Pesquisar produto..."><img src="Search.svg" alt="Search">
    <div>
      <a href="#" class="text-dark me-3">Cadastre-se</a>
      <a href="#" class="btn btn-primary">Entrar</a>
      <a href="#" class="text-dark position-relative">
        <i class><img src="/assets/img/mini-cart.svg" alt="Carrinho"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">2</span>
      </a>
    </div>
  </div>
  <div class="container d-flex justify-content-between align-items-center mt-5">
    <div>
      <a href="#" class="text-dark me-3">Cadastre-se</a>
      <a href="#" class="text-dark me-3">Produtos</a>
      <a href="#" class="text-dark me-3">Categorias</a>
      <a href="#" class="text-dark me-3">Meus Pedidos</a>
    </div>
  </div>
</header>
